.multi-search-input{
    display: flex;
    align-items: center;
    width: 342px;
    height: 36px;
    justify-content: space-between;
}
.multi-search-input__input{
    border: none;
    background: none;
    font-size: 17px;
}
.multi-search-input__texticon{
    width: 135px;
    height: 36px;
    border-radius: 18px;
    color: black;
    background: #0000000D;
}
.search-input__input::placeholder{
    color: #999999;
}